<%- include('header') -%>
<%- include('menu') -%>
    <div class="jumbotron">
        <h1>Form</h1>
        <p>add comments to any page on the web...</p>
    </div>

    You entered the following...<br>

    Name: <%= name %><br>
    The comments were: <br ><%= coms %>

<%- include('footer') -%>
