<%- include('header') -%>
<%- include('menu') -%>

    <div class="jumbotron">
        <h1>Forum</h1>
        <p>Welcome to Forum <%= version %></p>
    </div>

    <ol>
      <% for(i = 0; i<comments.length; i++){ %>
        <li>
          <b><%= comments[i].name %></b>
          <i><%= comments[i].comment %></i>
        </li>
      <% } %>
    </ol>

<%- include('footer') -%>
