<%- include('header') -%>
<%- include('menu') -%>

    <div class="jumbotron">
        <h1>Gamer List</h1>
        <p>Welcome to Game List</p>
    </div>

    <ul>
      <% for(i = 0; i<infos.length; i++){ %>
        <li> <a href="/info/<%= infos[i]._id %>">
          <h4><%= infos[i].gname %></h4></a>
        </li>
      <% } %>
    </ul>

<%- include('footer') -%>
