<%- include('header') -%>
<%- include('menu') -%>

    <div class="jumbotron">
        <h1>Information for <%= info.gname %> </h1>
    </div>
    Developer: <%= info.gdeveloper %> <br>
    Genre: <%= info.ggenre %> <br>
    Date: <%= info.gdate %> <br>
    Platform: <%= info.gplatform %> <br>
    Info: <%= info.ginfo %>
    <hr>

<%- include('form') -%>
<%- include('footer') -%>
